body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.title {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.image-container {
    position: relative;
    margin: 20px auto;
    height: 512px;
    width: 512px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.result-image {
    height: 100%;
    width: 100%;
    display: block;
}

.loading-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
}

.lds-dual-ring {
    display: inline-block;
    margin: auto;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #767676c0;
    border-color: #767676c0 transparent #767676c0 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.prompt-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.prompt-container div {
    width: 49.5%;
}

#base-prompt {
    text-align: right;
}

#base-prompt, #extra-prompt {
    display: flex;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
}

.prompt-container, .sliders {
    margin-bottom: 15px;
}

.text-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

.slider {
    margin: 10px 0;
}

.slider input[type=range] {
    width: 100%;
}

#description {
    text-align: left;
}